/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 */ 

/* owl-carousel products */

.view-products-list .owl-carousel .owl-item {
	padding: 0 5px;
}

.view-products-list .thumbnail {

}

.navbar-brand #site-name {
	font-size: 27px;
	margin: 5px 0;
}
.navbar-brand #site-slogan {
	font-size: 18px;
}