/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 */ 

/* owl-carousel products */

.view-products-list .owl-carousel .owl-item {
	padding: 0 5px;
}

.view-products-list .thumbnail {
	width: 219px;
	height: 219px;
}