/*! 
 * Kalatheme (http://drupal.org/project/kalatheme) 
 */ 

/* owl-carousel products */

.view-products-list .owl-carousel .owl-item {
	padding: 0 5px;
}

.view-products-list .thumbnail {

}

.navbar-brand #site-name {
	font-size: 27px;
	margin: 5px 0;
}
.navbar-brand #site-slogan {
	font-size: 18px;
}

.nav-inline ul.menu li {
	float: left;
}

#top-content {
  background: #8ABF3E;
  color: #fff;
	margin-bottom: 23px;
}

#top-content h1, #top-content .title {
  color: #fff;
	margin: 9px 0;
}

#top-content #navigation-wrapper {
}

#top-content ul.menu {
	font-size: 16px;
}

#top-content ul.menu > li > a {
  color: #dfffd1; 
	text-transform: uppercase;
  border: 1px solid #dfffd1;
  margin: 14px 5px 14px 0;
  border-radius: 1em 0 1em 0;
}
#top-content ul.menu > li > a:hover,
#top-content ul.menu > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
#top-content ul.menu > .active-trail > a,
#top-content ul.menu > .active-trail > a:hover,
#top-content ul.menu > .active-trail > a:focus {
  color: #ffffff;
  background-color: #6b9430;
}


/* node */

.node-type-product #page-title {
	display: none;
}

.node-product .field-name-field-product-image {
  padding: 4px;
  line-height: 1.846;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
	margin-right: 23px;
	float: left;
}

.node-product .field-name-title-field h2,
.node-product .field-name-field-subtitle h3 {
	margin: 0;
	color: #6b9430;
}

/* colorbox hack */
.node-product .field-name-title-field h2 a {display: none;}

.node-product .field-name-title-field h2 {
	text-transform: uppercase;
	font-size: 21px;
}
.node-product .field-name-field-subtitle h3 {
	margin-bottom: 23px;
	font-size: 18px;
}
